<template>
  <main>
    
    <!-- heading -->  
    <header>
      <img src="./assets/logo.svg" alt="pinia logo"/>
      <h1> pinia </h1>
    </header>

    <!-- form -->
    <div class="task-form">  
      <TaskForm/>
    </div>

    <!-- filter -->
    <nav class="filter">
      <button @click="filter='all'">All</button>
      <button @click="filter='favs'">Favs</button>
    </nav>

    <!-- loading -->
    <div class="loading" v-if="taskStore.loading">
      Loading tasks...
    </div>

    <!-- task list -->
    <div class="task-list" v-if="filter === 'all'">
      <p>Your have {{taskStore.totalCount }} ALL tasks left to do </p>
      <div v-for="task in taskStore.tasks">
        <TaskDetails :task="task"/>
      </div>
    </div>
    <div class="task-list" v-if="filter === 'favs'">
      <p>Favorite {{taskStore.favCount }} FAVORITE tasks left to do </p>
      <div v-for="task in taskStore.favs">
        <TaskDetails :task="task"/>
      </div>
    </div>

  </main>
</template>

<script>
  import { ref } from 'vue';
  import TaskDetails from './components/TaskDetails.vue'
  import TaskForm from './components/TaskForm.vue'
  import {useTaskStore} from './stores/TaskStore'

  export default {
    components:{ TaskDetails, TaskForm },
    setup() {
      const taskStore = useTaskStore()

      const filter = ref('all')

      taskStore.getTasks()

      return { taskStore, filter }
    }
  }
</script>

<style>
  *{
    text-align: center;
    background-color:rgb(183, 183, 183);
  }
  h1{
    background: rgb(37, 35, 33) !important;
  }
  header{
    background: rgb(37, 35, 33) !important;
    margin-bottom: 1rem;
  }
  img{
    background: rgb(37, 35, 33) !important;
    margin-bottom: 1rem;
  }
  .task-form{
    margin-bottom: 1rem;
  }
</style>